@import url(../fonts/clash-display.css);

:root {
    --c-darkest: #212529;
    --c-dark: #173c31;
    --c-mid: #589e95;
    --c-light: #b6eff1;
    --c-f-color: #fff;
    --c-link-dark: #341156;
    --c-link-mid: #791cd5;
    --c-link-light: #a966ed;
    --c-inner: 182, 239, 241;
    --c-outer: 23, 60, 49;
    --c-body: #727272;
    --c-brand: #F7A632;
    --c-brand-shadow:  #ffe5c1; 
    --font-base: "ClashDisplay", sans-serif;
    --transition: all 0.5s ease;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-base);
}

body {
    width: 100%;
    height: 100vh;
    background-color: var(--c-dark);
}

.content{
    width: 100%;
    text-align: center;
}