@import url(../fonts/clash-display.css);

:root {
    --c-darkest: #212529;
    --c-dark: #173c31;
    --c-mid: #589e95;
    --c-light: #b6eff1;
    --c-f-color: #fff;
    --c-link-dark: #341156;
    --c-link-mid: #791cd5;
    --c-link-light: #a966ed;
    --c-inner: 182, 239, 241;
    --c-outer: 23, 60, 49;
    --c-body: #727272;
    --c-brand: #F7A632;
    --c-brand-shadow: #ffe5c1;
    --font-base: "ClashDisplay", sans-serif;
    --transition: all 0.5s ease;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--font-base);
}

body {
    width: 100%;
    height: 100vh;
    background-image: radial-gradient(circle, rgba(var(--c-inner)), rgba(var(--c-outer)));
}

.content {
    width: 100%;
    text-align: center;
}

.navbar {
    background-color: var(--c-dark);
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.navbar-brand {
    font-weight: bold;
    color: var(--c-brand) !important;
    text-shadow:
        -1px -1px 0 var(--c-brand-shadow),
        /* Top-left */
        1px -1px 0 var(--c-brand-shadow),
        /* Top-right */
        -1px 1px 0 var(--c-brand-shadow),
        /* Bottom-left */
        1px 1px 0 var(--c-brand-shadow);
}

.navbar-links{
    display: flex;
    justify-content: center;
    flex-grow: 1;
}

.nav-link{
    color: var(--c-light) !important;
    font-weight: bold;
    margin: 0 15px;
}

.nav-link.active {
    color: var(--c-brand) !important;
    font-weight: bold;
}

.nav-link:hover{
    color: var(--c-f-color) !important;
}

.nav-item{
    margin-bottom: 10px;
}

.btn-logout {
    background-color: var(--c-mid);
    color: var(--c-light);
    border: none;
    font-weight: bold;
    border-radius: 25px;
}

.btn-logout:hover {
    cursor: pointer;
    transition: 0.3s ease;
    background-color: var(--c-mid);
    /* Darker background on hover */
    transform: scale(1.1);
    color: var(--c-f-color);
}

.btn-logout a {
    text-decoration: none;
    /* Remove underline */
    color: inherit;
    /* Inherit text color from the parent element */
}

#navbarNav.show {
    border-top: 1px solid white;
}

.message {
    margin-top: 200px;
    text-align: center;
    transform: translate(0%, 250%);
}

.message h2 {
    color: var(--c-brand);
    font-weight: bold;
    text-shadow:
        -1px -1px 0 var(--c-brand-shadow),
        /* Top-left */
        1px -1px 0 var(--c-brand-shadow),
        /* Top-right */
        -1px 3px 0 var(--c-brand-shadow),
        /* Bottom-left */
        1px 2px 0 var(--c-brand-shadow);
}
    
label {
    font-size: 20px;
    color: var(--c-darkest);
}

span {
    font-size: 15px;
}

.span-box {
    max-width: 200px;
    width: 90%;
    height: 100px;
    padding-inline: 25px;
    border-radius: 25px;
    color: var(--c-dark);
    background-color: var(--c-mid);
    border: 2px solid var(--c-light);
    margin-left: 20px;
}

.profile-link {
    display: inline-flex; /* Centers the icon inside the circle */
    justify-content: center; /* Centers horizontally */
    align-items: center; /* Centers vertically */
    width: 40px; /* Set width of the circle */
    height: 40px;  /* Change #000 to your desired border color */
    border-radius: 50%; /* Makes the border circular */
    text-decoration: none; /* Removes underline from the link */
    background-color: var(--c-mid); /* Optional: Add a background color */
    color: inherit; /* Inherit the text/icon color */
    border: 2px solid var(--c-light);
}

.profile-link:hover {
    cursor: pointer;
    transition: 0.3s ease;
    background-color: var(--c-mid);
    /* Darker background on hover */
    transform: scale(1.1);
    color: var(--c-light); /* Change icon color on hover */
    border: 2px solid var(--c-f-color);
}

.lni {
    font-size: 22px; /* Adjust the icon size */
}

@media (max-width: 992px) {
    .sidebar {
        background-color: var(--c-mid);
        backdrop-filter: blur(10px);
    }
}